acl "trusted" {
                localhost;
                localnets;
		any;
        };
  
options {
	directory "/var/cache/bind";

    forwarders {
	{{ forwarder }} ;
		};
	dnssec-enable yes;
	dnssec-validation yes;
	auth-nxdomain no;    # conform to RFC1035
	listen-on-v6 { any; };
	allow-query { any; };
	allow-recursion { trusted; };
	allow-query-cache { trusted; };

};